<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xory.helloworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xory.helloworld.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="StartedServiceActivity" >
        </activity>

        <activity android:name="BroadcastActivity" >
        </activity>
        
        <service android:name="StartedIntentSerivce" >
        </service>

        <activity android:name="DrawActivity" >
        </activity>

        <receiver android:name="BroadcastActivity$TestBroadcastReceiver" >
            <intent-filter>
                <action android:name="BroadcastActivity_inner_action" />
            </intent-filter>
        </receiver>
        <receiver android:name="BroadcastRecvTest" >
            <intent-filter>
                <action android:name="BroadcastRecvTest_action" />
            </intent-filter>
        </receiver>
        <activity android:name="ActivityNotification"></activity>
        <activity android:name="com.xory.graphics.ActivityGraphics"></activity>
        <activity android:name="com.xory.graphics.ActivityGraphicCustomView"></activity>
        <activity android:name="com.xory.graphics.ActivityGraphicSurfaceView"></activity>
    </application>

</manifest>