<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xory.helloworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xory.helloworld.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- activity manager -->
        <activity android:name="com.xory.helloworld.ActivityManager">
        </activity>
        
        <activity android:name="StartedServiceActivity" >
        </activity>

        <activity android:name="BroadcastActivity" >
        </activity>
        
        <service android:name="StartedIntentSerivce" >
        </service>

        <activity android:name="DrawActivity" >
        </activity>

        <receiver android:name="BroadcastActivity$TestBroadcastReceiver" >
            <intent-filter>
                <action android:name="BroadcastActivity_inner_action" />
            </intent-filter>
        </receiver>
        <receiver android:name="BroadcastRecvTest" >
            <intent-filter>
                <action android:name="BroadcastRecvTest_action" />
            </intent-filter>
        </receiver>
        <activity android:name="ActivityNotification"></activity>

         <!-- ****graphics -->
        <activity android:name="com.xory.graphics.ActivityGraphicsCustomView">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>
        <activity android:name="com.xory.graphics.ActivityGraphicsSurfaceView">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>
      
        <!-- ****Adapter & AdapterView -->
        <activity android:name="com.xory.adapter.ActivityArrayAdapter">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>
        <activity android:name="com.xory.adapter.ActivitySimpleAdapter">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>
        <activity android:name="com.xory.adapter.ActivityBaseAdapter">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>
        <activity android:name="com.xory.adapter.ActivitySimpleCursorAdapter">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>            
        </activity>
        <activity android:name="com.xory.adapter.ActivityGridView">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>            
        </activity>
        <activity android:name="com.xory.adapter.ActivitySpinner">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>            
        </activity>
        
        <!-- ************ -->
        <!-- mutil thread -->
        <!-- ************ -->
        <activity android:name="com.xory.thread.ActivityMultiThread">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>
        <activity android:name="com.xory.thread.ActivityAsyncTask">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>

        <!-- ************ -->
        <!-- ***app class*** -->
		<!-- ************ -->
		<activity android:name="com.xory.app.ActivityXMLParser">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>
        
		<!-- ******** -->
		<!-- views -->
		<!-- ******** -->
		<activity android:name="com.xory.views.ActivityDialogStyle"  android:theme="@style/activity_dlg_style">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>
		<activity android:name="com.xory.views.ActivityGalleryOfViewFlipper"  android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>
        
		<!-- ************** -->
		<!-- gesture -->
		<!-- ************** -->
		<activity android:name="com.xory.gesture.ActivityMutilTouchRecognise" >
            <intent-filter>
                <action android:name="com.xory.helloworld.action" />
                <category android:name="com.xory.helloworld.category" />
            </intent-filter>
        </activity>
                              
    </application>
	
</manifest>